body, html
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-size: 16px;
	font-family: helvetica, arial;
	background: #f9f9f9;
	color: #111;
}

.wrapper
{
	width: 100%;
	height: 100%;
	display: table;
}

.main
{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}


.quiz__head
{
	font-size: 20pt;
	margin: 50px 5px;
}

.head__content 
{
	padding: 5px;
}

.quiz__body
{
	
}

.quiz__footer 
{
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
}

.footer__content 
{
	padding: 5px;
}

.button
{
	border: 0;
	border-radius: 10px;
	background: #6477EB;
	color: #fff;
	padding: 10px 25px;
	font-size: 15pt;
	display: inline-block;
	vertical-align: middle;
	margin: 5px;
	cursor: pointer;
}

.button:hover
{
	background: #7E8CDD;
}
